.container{
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-bottom: 6%;
   gap: .5rem;
}

.producto-img img{
 width: 10rem;
}

.producto-carrito{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}
.producto-info{
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: .5rem;
}
.botones-carrito{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}